@page "/EmojiGallery"

<PageTitle>Emoji Gallery</PageTitle>

<h1>Emoji Gallery</h1>

<ul>

</ul>

@code{
    public class EmojiItem{
        public String? Title{get; set;}
        public String? Description{get; set;}
        
    }
}